header {
  .topHeader {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    background: #34383f;
    text-align: center;
    z-index: 100;
    position: relative;
    max-height: 50px;
    transition: all 0.3s ease-out 0s;
  }
  .main {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: center;
    flex: 1 1 0%;

    span {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
  }
  .langSwitcher {
    a {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      color: rgb(255, 255, 255);

      span {
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 8px;
        letter-spacing: 0.3px;
      }
    }
    .switcher {
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      padding: 2px;
      display: flex;

      .active {
        margin-left: 8px;
        margin-right: 0;
      }

      span {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        transition: all 0.5s ease 0s;
      }
    }
  }
  .headerMain {
    padding: 16px 0px;
    background: linear-gradient(116.41deg, #57dca3 9.91%, #d6ee47 51.54%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    .wrapperLogoSearch {
      display: flex;
      flex: 1 1 0%;

      img {
        max-width: 70px;
        object-fit: contain;
        margin-right: 15px;
      }

      form {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex: 1 1 0%;
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: all 0.4s ease 0s;

        input {
          border: none;
          line-height: 56px;
          flex: 1 1 0%;
          padding: 0px 70px 0px 40px;
          border-radius: 8px;
          font-size: 14px;
        }
        textarea:focus,
        input:focus {
          outline: none;
        }

        button {
          visibility: hidden;
        }
      }
    }
    .WrapperCartProfile {
      margin-left: 15px;
      display: flex;

      a {
        &:first-of-type {
          margin-right: 20px;
        }
        display: flex;
        text-transform: capitalize;
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.6s ease 0s;
        color: #34383f;

        .userIcon {
          margin-right: 5px;
        }
      }
    }
  }

  .header-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    .see-all {
      display: flex;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      justify-content: center;
      height: 180px;
      width: 160px;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      margin-right: 15px;
      cursor: pointer;
      font-size: 14px;
      line-height: 1.7;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;

      svg {
        margin-top: 20px;
        width: 32px;
        height: auto;
      }
    }
    .swiper {
      .slide {
        height: 180px;
      }
    }

    .allCategory {
      display: flex;
      flex-direction: column;

      top: 100%;
      width: 100%;
      background: rgb(255, 255, 255);
      visibility: visible;
      opacity: 1;
      transition: all 0.6s ease 0s;

      .top-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
        z-index: 2;
        background-color: #ffffff;

        h2 {
          font-size: 24px;
          font-weight: 700;
        }

        button {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          background-color: rgb(236, 239, 241);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: none;
          font-size: 25px;
          padding-bottom: 7px;
          cursor: pointer;
        }
      }
      .card-wrapper {
        background-color: #ffffff;
        z-index: 2;
        padding-bottom: 40px;
        .cards {
          margin-top: 28px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 28px 32px;
          overflow: hidden auto;
          max-height: 438px;
          .card {
            max-height: 90px;
            text-align: start;
            margin-top: 0;
            a {
              display: flex;
              align-items: center;
              margin-top: 0;
              padding-left: 20px;

              span {
                inline-size: 200px;
                overflow-wrap: break-word;
              }
            }
          }

          .active {
            background-color: #d6ee47 !important;
          }
        }
        .sub-category {
          grid-column: 1 / -1;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 28px 32px;
          padding-bottom: 28px;
          border-bottom: 1px solid rgb(236, 239, 241);

          .sub {
          }
          a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding-right: 20px;
            height: 74px;
            border-radius: 8px;
            transition: all 0.5s ease 0s;
            justify-content: space-between;
            font-weight: 500;
          }
          .img-wrapper {
            border-radius: 8px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            flex-shrink: 0;

            span {
              margin-left: 15px;
            }

            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .opacity {
        background-color: #000000c2;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
      }
    }
  }

  // Slider Style
  .swiper-button-disabled {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1.5px solid rgb(236, 239, 241);
    box-shadow: rgb(212, 215, 217) 0px 4px 12px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &::after {
      font-size: 14px;
      font-weight: bold;
    }
  }
  // finish slider style
}
