@import "./responsive.scss";

body,
html {
  font-family: "Noto Sans Georgian", sans-serif;
}
span,
a,
button,
h2 {
  font-family: "Noto Sans Georgian", sans-serif;
}

.container {
  padding-right: 300px !important;
  padding-left: 300px !important;

  @include large {
    padding-right: 150px !important;
    padding-left: 150px !important;
  }

  @include mid {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  @include small {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
}

main {
  flex: 1;
}

// my-style
.pad-20 {
  padding: 15px 25px;
}

.ptop-25 {
  padding-top: 25px;
}

.border-bottom {
  border-bottom: 1px solid #d5e0d5;
}
.border-right {
  border-right: 1px solid #d5e0d5;
}
.border-top {
  border-top: 1px solid #d5e0d5;
}
.border-left {
  border-left: 1px solid #d5e0d5;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

p,
span,
h2,
h1,
h3,
button,
div,
input,
textarea,
select,
option,
a {
  color: #000000;
}

.body-scroll-off {
  height: 100vh;
  overflow: hidden !important;
}
