#profile {
  .wrapper {
    .hed-title {
      display: flex;
      align-items: center;
      padding: 24px 0px;
      margin: 10px 0 40px 0;

      h2 {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 10px;
        font-weight: bold;
      }

      svg {
        margin-right: 15px;
      }
    }
    .main-content {
      display: flex;
      nav {
        max-width: 300px;
        flex: 1;
        ul {
          li {
            padding: 5px 0;
            display: flex;
            align-items: center;
            a {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              width: 100%;
              text-align: left;
              font-size: 14px;
              padding: 20px 0 20px 10px;
              border-radius: 12px;
              margin-bottom: 4px;
              transition: all 0.6s ease 0s;
              position: relative;
              font-weight: 500;
              text-decoration: none;
              padding-right: 0 !important;

              &:hover {
                background: rgba(94, 83, 228, 0.05);
              }
            }
            svg {
              margin-right: 10px;
            }
          }
        }
        .active {
          background: rgba(94, 83, 228, 0.05);
        }
      }
      .outlet {
        flex: 1;
        margin-left: 50px;
      }
    }
  }
}
