#myStatement {
  display: flex;
  flex-direction: column;

  .card {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.5s ease 0s;
    position: relative;
    padding: 12px 16px;
    min-height: 88px !important;
    max-height: 100px !important;
    cursor: pointer;
    box-shadow: rgba(238, 240, 245, 0.7) 0px 2px 12px;
    justify-content: space-between;
    width: 100%;
    text-align: start;
    background-color: #ffffff !important;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .card-wrapper {
      display: flex;
      align-items: center;
      .icon {
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: rgb(245, 246, 246);
        margin-right: 24px;
        svg {
          position: absolute;
          right: 16px;
          top: 16px;
        }
        .status-color {
          content: "";
          position: absolute;
          top: 2px;
          right: 3px;
          width: 11px;
          height: 11px;
          border-radius: 50%;
        }
      }
      .hed-title {
        margin-bottom: 12px;
        span {
          font-weight: 700;
          font-size: 13px;
          margin-right: 14px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      .bottom-title {
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
          margin-right: 20px;
          align-items: center;
          font-weight: 500;

          &:last-of-type {
            margin-right: 0;
          }
        }

        .status-color {
          width: 6px;
          height: 6px;
          margin-right: 8px;
          border-radius: 50%;
          display: block;
        }
      }
    }
    .see-more {
      margin-right: 10px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      height: 40px;
      font-size: 12px;
      font-weight: 700;
      transition: all 0.4s ease 0s;

      svg {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}
