.card {
  position: relative;
  background-color: #eaeaea;
  height: 180px;
  border-radius: 8px;
  display: flex;
  text-align: center;

  &:hover {
    background-color: #eaeaeaa6;
  }

  a {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0px 0 8px 0;
  }
}
